{% extends "seller/base_seller.html" %}
{% load static %}
{% block body_content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">

<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item active" href="{% url 'seller_dashboard' %}">Create a Product</a>
                <a class="list-group-item" href="{% url 'myproducts_seller' %}">My Products</a>
                <a class="list-group-item" href="#">My Selling Items</a>
                <a class="list-group-item" href="#">Received orders</a>
                <a class="list-group-item" href="#">Transactions</a>
                <a class="list-group-item" href="#">Settings</a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <!-- Create Product content -->
            <article class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Create a Product</strong>
                </header>
                <div class="card-body">
                    <!-- Display success or error messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <!-- Product creation form -->
                    <h5 class="card-title">Add a New Product</h5>
                    <form method="post" action="{% url 'createproduct_seller' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {% comment %} <button type="submit" class="btn btn-primary">Create Product</button> {% endcomment %}
                        <a href="{% url 'myproducts_seller' %}" class="btn btn-primary">Create Product</a>
                        <a href="{% url 'seller_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
                    </form>
                </div>
            </article>
        </main>
    </div> <!-- row.// -->
</div>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock body_content %}
