{% extends "base.html" %}
{% load static %}
{% block body_content %}

<section class="section-content padding-y bg">
    <div class="container">
        <!-- Success Message -->
        <div class="text-center" style="margin-top: 50px;">
            <i class="fas fa-check-circle" style="font-size: 72px; margin-bottom: 20px; color: #28A745;"></i>
            <h2>Payment Successful</h2>
            <br>
            <a href="{% url 'store' %}" class="btn btn-success">Shop more</a>
        </div>

        <!-- Invoice Section -->
        <div class="container" style="margin: 50px auto; padding: 50px; background: #f1f1f1; width: 50%;">
            {% if order %}
            <div class="row invoice row-printable">
                <div class="col-md-12">
                    <div class="panel panel-default plain" id="dash_0">
                        <div class="panel-body p30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="invoice-logo">
                                        <img src="{% static 'images/logo.png' %}" alt="Invoice logo" style="max-height: 40px;">
                                    </div>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <div class="invoice-from">
                                        <ul class="list-unstyled">
                                            <li><strong>Invoiced To</strong></li>
                                            <li>{{ user.first_name }} {{ user.last_name }}</li>
                                            <li>{{ user.profile.address }}</li>
                                            <li>{{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zip_code }}</li>
                                            <li>{{ user.profile.country }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div class="invoice-details well">
                                        <ul class="list-unstyled mb0">
                                            <li><strong>Order #:</strong> {{ order.id }}</li>
                                            <li><strong>Transaction #:</strong> {{ payment.transaction_id }}</li>
                                            <li><strong>Order Date:</strong> {{ order.created_at|date:"l, F j, Y" }}</li>
                                            <li><strong>Status:</strong> PAID</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Invoice Items -->
                                <div class="col-lg-12 mt-3">
                                    <div class="invoice-items">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Description</th>
                                                        <th class="text-center">Qty</th>
                                                        <th class="text-center">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in order.items.all %}
                                                    <tr>
                                                        <td>{{ item.product.product_name }}</td>
                                                        <td class="text-center">{{ item.quantity }}</td>
                                                        <td class="text-center">₹{{ item.total_price }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2" class="text-right">Sub Total:</th>
                                                        <th class="text-center">₹{{ order.total_price|floatformat:2 }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" class="text-right">Tax:</th>
                                                        <th class="text-center">₹{{ order.tax|floatformat:2 }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" class="text-right">Grand Total:</th>
                                                        <th class="text-center">₹{{ order.total_price|add:order.tax|floatformat:2 }}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="invoice-footer mt-4">
                                        <p class="text-center">Thank you for shopping with us!</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
            </div>
            {% else %}
            <div class="text-center" style="margin-top: 50px;">
                <h2>{{ error }}</h2>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock body_content %}
